<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/j2ee; http://xmlns.jcp.org/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Assistent</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
		<servlet>   
	  	<servlet-name>FeverOverview</servlet-name>
	  	<jsp-file>/FeverOverview.jsp</jsp-file>
		</servlet>
		<servlet-mapping>
	  	<servlet-name>FeverOverview</servlet-name>
	  	<url-pattern>/FeverOverview</url-pattern>
		</servlet-mapping>
		
	  	<servlet>   
	  	<servlet-name>FeverSymptoms</servlet-name>
	  	<jsp-file>/FeverSymptoms.jsp</jsp-file>
		</servlet>
		<servlet-mapping>
	  <servlet-name>FeverSymptoms</servlet-name>
	  <url-pattern>/FeverSymptoms</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>FeverDiagnosis</servlet-name>
	  <jsp-file>/FeverDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>FeverDiagnosis</servlet-name>
	  <url-pattern>/FeverDiagnosis</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>FeverTreatment</servlet-name>
	  <jsp-file>/FeverTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>FeverTreatment</servlet-name>
	  <url-pattern>/FeverTreatment</url-pattern>
	</servlet-mapping>

		<servlet>   
	  <servlet-name>DengueOverview</servlet-name>
	  <jsp-file>/DengueOverview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>DengueOverview</servlet-name>
	  <url-pattern>/DengueOverview</url-pattern>
	</servlet-mapping>
	
	  <servlet>   
	  <servlet-name>DengueSymptoms</servlet-name>
	  <jsp-file>/DengueSymptoms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>DengueSymptoms</servlet-name>
	  <url-pattern>/DengueSymptoms</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>DengueDiagnosis</servlet-name>
	  <jsp-file>/DengueDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>DengueDiagnosis</servlet-name>
	  <url-pattern>/DengueDiagnosis</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>DengueTreatment</servlet-name>
	  <jsp-file>/DengueTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>DengueTreatment</servlet-name>
	  <url-pattern>/DengueTreatment</url-pattern>
	</servlet-mapping>
	
	
	    <servlet>   
	  <servlet-name>RheumaticOverview</servlet-name>
	  <jsp-file>/RheumaticOverview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>RheumaticOverview</servlet-name>
	  <url-pattern>/RheumaticOverview</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>RheumaticSymptoms</servlet-name>
	  <jsp-file>/RheumaticSymptoms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>RheumaticSymptoms</servlet-name>
	  <url-pattern>/RheumaticSymptoms</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>RheumaticDiagnosis</servlet-name>
	  <jsp-file>/RheumaticDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>RheumaticDiagnosis</servlet-name>
	  <url-pattern>/RheumaticDiagnosis</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>RheumaticTreatment</servlet-name>
	  <jsp-file>/RheumaticTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>RheumaticTreatment</servlet-name>
	  <url-pattern>/RheumaticTreatment</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	  <servlet-name>CommonColdOverview</servlet-name>
	  <jsp-file>/CommonColdOverview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>CommonColdOverview</servlet-name>
	  <url-pattern>/CommonColdOverview</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>CommonColdSymptoms</servlet-name>
	  <jsp-file>/CommonColdSymptoms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>CommonColdSymptoms</servlet-name>
	  <url-pattern>/CommonColdSymptoms</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>CommonColdDiagnosis</servlet-name>
	  <jsp-file>/CommonColdDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>CommonColdDiagnosis</servlet-name>
	  <url-pattern>/CommonColdDiagnosis</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>CommonColdTreatment</servlet-name>
	  <jsp-file>/CommonColdTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>CommonColdTreatment</servlet-name>
	  <url-pattern>/CommonColdTreatment</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	  <servlet-name>ColdSoreOverview</servlet-name>
	  <jsp-file>/ColdSoreOverview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>ColdSoreOverview</servlet-name>
	  <url-pattern>/ColdSoreOverview</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>ColdSoreSymptoms</servlet-name>
	  <jsp-file>/ColdSoreSymptoms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>ColdSoreSymptoms</servlet-name>
	  <url-pattern>/ColdSoreSymptoms</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>ColdSoreDiagnosis</servlet-name>
	  <jsp-file>/ColdSoreDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>ColdSoreDiagnosis</servlet-name>
	  <url-pattern>/ColdSoreDiagnosis</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>ColdSoreTreatment</servlet-name>
	  <jsp-file>/ColdSoreTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>ColdSoreTreatment</servlet-name>
	  <url-pattern>/ColdSoreTreatment</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	  <servlet-name>ColdBabiesOverview</servlet-name>
	  <jsp-file>/ColdBabiesOverview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>ColdBabiesOverview</servlet-name>
	  <url-pattern>/ColdBabiesOverview</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>ColdBabiesSymptoms</servlet-name>
	  <jsp-file>/ColdBabiesSymptoms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>ColdBabiesSymptoms</servlet-name>
	  <url-pattern>/ColdBabiesSymptoms</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>ColdBabiesDiagnosis</servlet-name>
	  <jsp-file>/ColdBabiesDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>ColdBabiesDiagnosis</servlet-name>
	  <url-pattern>/ColdBabiesDiagnosis</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>ColdBabiesTreatment</servlet-name>
	  <jsp-file>/ColdBabiesTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>ColdBabiesTreatment</servlet-name>
	  <url-pattern>/ColdBabiesTreatment</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>   
	<servlet-name>CancerOverview</servlet-name>
  	<jsp-file>/CancerOverview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>CancerOverview</servlet-name>
  	<url-pattern>/CancerOverview</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>CancerSymptoms</servlet-name>
  	<jsp-file>/CancerSymptoms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>CancerSymptoms</servlet-name>
  	<url-pattern>/CancerSymptoms</url-pattern>
	</servlet-mapping>

	<servlet>   
	<servlet-name>CancerDiagnosis</servlet-name>
  	<jsp-file>/CancerDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>CancerDiagnosis</servlet-name>
  	<url-pattern>/CancerDiagnosis</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>CancerTreatment</servlet-name>
  	<jsp-file>/CancerTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>CancerTreatment</servlet-name>
  	<url-pattern>/CancerTreatment</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>PancreaticCancerOverview</servlet-name>
  	<jsp-file>/PancreaticCancerOverview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>PancreaticCancerOverview</servlet-name>
  	<url-pattern>/PancreaticCancerOverview</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>PancreaticCancerSymptoms</servlet-name>
  	<jsp-file>/PancreaticCancerSymptoms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>PancreaticCancerSymptoms</servlet-name>
  	<url-pattern>/PancreaticCancerSymptoms</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>PancreaticCancerDiagnosis</servlet-name>
  	<jsp-file>/PancreaticCancerDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>PancreaticCancerDiagnosis</servlet-name>
  	<url-pattern>/PancreaticCancerDiagnosis</url-pattern>
	</servlet-mapping>

	<servlet>   
	<servlet-name>PancreaticCancerTreatment</servlet-name>
  	<jsp-file>/PancreaticCancerTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>PancreaticCancerTreatment</servlet-name>
  	<url-pattern>/PancreaticCancerTreatment</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>EsophagealCancerOverview</servlet-name>
  	<jsp-file>/EsophagealCancerOverview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>EsophagealCancerOverview</servlet-name>
  	<url-pattern>/EsophagealCancerOverview</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>EsophagealCancerSymptoms</servlet-name>
  	<jsp-file>/EsophagealCancerSymptoms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>EsophagealCancerSymptoms</servlet-name>
  	<url-pattern>/EsophagealCancerSymptoms</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>EsophagealCancerDiagnosis</servlet-name>
  	<jsp-file>/EsophagealCancerDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>EsophagealCancerDiagnosis</servlet-name>
  	<url-pattern>/EsophagealCancerDiagnosis</url-pattern>
	</servlet-mapping>

	<servlet>   
	<servlet-name>EsophagealCancerTreatment</servlet-name>
  	<jsp-file>/EsophagealCancerTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>EsophagealCancerTreatment</servlet-name>
  	<url-pattern>/EsophagealCancerTreatment</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	<servlet>   
	<servlet-name>PediatricBrainTumorOverview</servlet-name>
  	<jsp-file>/PediatricBrainTumorOverview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>PediatricBrainTumorOverview</servlet-name>
  	<url-pattern>/PediatricBrainTumorOverview</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>PediatricBrainTumorSymptoms</servlet-name>
  	<jsp-file>/PediatricBrainTumorSymptoms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>PediatricBrainTumorSymptoms</servlet-name>
  	<url-pattern>/PediatricBrainTumorSymptoms</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>PediatricBrainTumorDiagnosis</servlet-name>
  	<jsp-file>/PediatricBrainTumorDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>PediatricBrainTumorDiagnosis</servlet-name>
  	<url-pattern>/PediatricBrainTumorDiagnosis</url-pattern>
	</servlet-mapping>

	<servlet>   
	<servlet-name>PediatricBrainTumorTreatment</servlet-name>
  	<jsp-file>/PediatricBrainTumorTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>PediatricBrainTumorTreatment</servlet-name>
  	<url-pattern>/PediatricBrainTumorTreatment</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>SalivaryGlandTumorOverview</servlet-name>
  	<jsp-file>/SalivaryGlandTumorOverview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>SalivaryGlandTumorOverview</servlet-name>
  	<url-pattern>/SalivaryGlandTumorOverview</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>SalivaryGlandTumorSymptoms</servlet-name>
  	<jsp-file>/SalivaryGlandTumorSymptoms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>SalivaryGlandTumorSymptoms</servlet-name>
  	<url-pattern>/SalivaryGlandTumorSymptoms</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>SalivaryGlandTumorDiagnosis</servlet-name>
  	<jsp-file>/SalivaryGlandTumorDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>SalivaryGlandTumorDiagnosis</servlet-name>
  	<url-pattern>/SalivaryGlandTumorDiagnosis</url-pattern>
	</servlet-mapping>

	<servlet>   
	<servlet-name>SalivaryGlandTumorTreatment</servlet-name>
  	<jsp-file>/SalivaryGlandTumorTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>SalivaryGlandTumorTreatment</servlet-name>
  	<url-pattern>/SalivaryGlandTumorTreatment</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>BrainTumorOverview</servlet-name>
  	<jsp-file>/BrainTumorOverview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>BrainTumorOverview</servlet-name>
  	<url-pattern>/BrainTumorOverview</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>BrainTumorSymptoms</servlet-name>
  	<jsp-file>/BrainTumorSymptoms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>BrainTumorSymptoms</servlet-name>
  	<url-pattern>/BrainTumorSymptoms</url-pattern>
	</servlet-mapping>
	
	<servlet>   
	<servlet-name>BrainTumorDiagnosis</servlet-name>
  	<jsp-file>/BrainTumorDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>BrainTumorDiagnosis</servlet-name>
  	<url-pattern>/BrainTumorDiagnosis</url-pattern>
	</servlet-mapping>

	<servlet>   
	<servlet-name>BrainTumorTreatment</servlet-name>
  	<jsp-file>/BrainTumorTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
  	<servlet-name>BrainTumorTreatment</servlet-name>
  	<url-pattern>/BrainTumorTreatment</url-pattern>
	</servlet-mapping>
	
	
	<servlet>   
	  <servlet-name>GerdOverview</servlet-name>
	  <jsp-file>/GerdOverview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>GerdOverview</servlet-name>
	  <url-pattern>/GerdOverview</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>GerdSymptoms</servlet-name>
	  <jsp-file>/GerdSymptoms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>GerdSymptoms</servlet-name>
	  <url-pattern>/GerdSymptoms</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>GerdDiagnosis</servlet-name>
	  <jsp-file>/GerdDiagnosis.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>GerdDiagnosis</servlet-name>
	  <url-pattern>/GerdDiagnosis</url-pattern>
	</servlet-mapping>
	 <servlet>   
	  <servlet-name>GerdTreatment</servlet-name>
	  <jsp-file>/GerdTreatment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>GerdTreatment</servlet-name>
	  <url-pattern>/GerdTreatment</url-pattern>
	</servlet-mapping>
	
</web-app>
